/*
File Name : style.css
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
*/

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    width:100%;
    margin-top:-20px;
}

.statement{
    display: flex;
    flex-direction:column;
    width:50%;
    height:800px;
    padding:0;
    margin:0;
    align-items: center;
    justify-content: center;
    margin-right:50px;
    background-image: url("/img/life.png");
    background-size:cover;
    background-position: center;
}

.pages{
    margin-left: auto;
    margin-right: auto;
}

.picture{
    width:40%;
    height:100%;
    padding:0;
    margin:0;
    margin-right:50px;
    background-color: #ffffff;
    display:flex;
    align-items: center;
    justify-content: center;
}

.aboutme{
    margin-left:auto;
    margin-right:auto;
}

.profile-link{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.contact{
    display: flex;
    width:50%;
    height:100%;
    flex-direction: column;
    margin:0;
    margin-right:50px;
    padding:0;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: black;
}

.form{
    margin-right:auto;
    margin-left:auto;
    margin-top: 20px;
}

form{
    height:80%;
    display: flex;
    flex-direction:column;
}

input{
    width:300px;
}

textarea{
    width:100%;
    height:100%;
}

.btnSubmit{
    border:none;
    width:100px;
    height:50px;
    border-radius: 5px;
    font:bold;
    background-color: #5A5A5A;
    color:whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

.projects{
    width:100%;
    margin-left:50px;
    margin-right:auto;
    padding-top:60px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.projects:last-child{
    margin-bottom: 40px;
}

.project{
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    text-align: initial;
    margin-bottom: 30px;
}

.screen{
    display: flex;
    width:50%;
    height:100%;
    padding:0;
    margin-left:50px;
}

.description{
    margin-left:-60px;
}

button{
    border:none;
    width:100px;
    height:50px;
    margin:10px;
    border-radius: 5px;
    font:bold;
    background-color: #5A5A5A;
    color:whitesmoke;
    margin-top: -40px;
}

.services{
    width:100%;
    height:100%;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.rows{
    display:flex;
    flex-direction: row;
    margin:20px;
    /* margin-bottom: 20px; */
}

/* media queries */
@media screen and (max-width: 1024px) {

    h1{
        font-size:xx-large;
    }

    p{
        font-size:large;
    }
    .statement {
        width: 70%;
    }

    .picture {
        width: 60%;
        margin-right: 0;
    }

    button{
        margin:20px;
    }

    .contact,
    .projects {
        width: 70%;
        margin-right: 0;
        flex-direction: column;

    }

    .contact{
        font-size:large;
    }


    .project{
        flex-direction: column;
    }

    .screen{
        width: 100%;
        margin-right: auto;
        margin-left:auto;
    }

    .description{
        width:100%;
        margin-right: auto;
        margin-left:auto;
    }
}

@media screen and (max-width: 768px) {

    h1{
        font-size:x-large;
    }

    p{
        font-size:medium;
    }

    .statement {
        width: 90%;
    }

    .picture {
        width: 80%;
        margin-right: 0;
    }

    button{
        
        margin:20px;
        
    }
    .services{
        height:100%;
        flex-direction: column;
        margin-bottom:20px;
    }

    .services>h1{
        margin-top:40px;
    }

    .rows{
        /* height:80%; */
        flex-direction: column;
    }

    .service{
        height:80%;
    }

    .contact,
    .projects {
        width: 90%;
        margin-right: 0;
    }

    .contact{
        font-size:medium;
    }

    .ontainer{
        flex-direction: column;
    }

    .project{
        flex-direction: column;
        
    }

    .screen{
        width: 100%;
        margin-right: auto;
        margin-left:auto;
        
    }

    .description{
        width:100%;
        margin-right: auto;
        margin-left:auto;
    }
}

@media screen and (max-width: 480px) {

    ul.navbar-max li>a
    {
        font-size:medium;
    }

    h1{
        font-size:larger;
    }

    p{
        font-size:small;
    }

    .home{
        flex-direction: column;
    }
    

    .statement {
        width: 112%;
        height:500px;
    }

    .picture {
        width: 70%;
        height:30%;
        margin-right: 0;
    }
    
    .contact,
    .projects {
        width: 100%;
    }
    
    .ontainer{
        flex-direction: column;
        height:120%;
    }

    form{
        height:80%;
        justify-content: center;
    }
    
    textarea{
        height:100%;
    }

    .contact{
        font-size:small;
    }

    .project{
        flex-direction: column;
        
    }

    .screen{
        width: 100%;
        margin-right: auto;
        margin-left:auto;
        
    }

    .description{
        width:100%;
        margin-right: auto;
        margin-left:auto;
    }

    button{
        margin:2px;
        
    }

    .services {
        margin-top: 40px;
    }
}