<!--
File Name : aboutme.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="ontainer">
<div class="picture">
    <!--picture-->
    <img src="/img/photo.jpg" alt="myself" style: width="50%"; height="80%">
</div>
<div class="aboutme">
    <!--description-->
    <h1>Hyewon Ham : This is me.</h1>
    <ul>
        <li><p>Full Stack Software Developer</p></li>
        <li><p>Responsible Team Player</p></li>
        <li><p>Traveller</p></li>
        <li><p>I like getting idea from inconvenience in daily lives.</p></li>
        <li><p>I am interested in learning new languages.</p></li>
    </ul>
    <div class="profile-link">
        <!--profile links-->
        <a href="/Assets/301295806_HyewonHam_Resume.pdf"><img src="/img/resume.png" alt="resume" style: width="64px"; height="64px"></a>
        <a href="https://www.linkedin.com/in/hyewon-ham/"><img src="/img/linkedin.png" alt="linkedin" style: width="64px"; height="64px"></a>
    </div>
</div>
</main>
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>



   